* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1,
  h2 {
    font-family: Lato;
  }
  
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 400px;
    height: 400px;
    border: 2px solid black;
  }
  
  .field {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 80px;
  }
  